<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    <%= csrf_meta_tag %><%#prevents cross-site request forgery%>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
